<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation" style="height: 50px;">
  <div class="container-fluid">
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    </div>
  </div>
</nav>

<div class="content" style="padding:3px 5px !important;">
    <div class="card" style="width:100% !important; margin:auto; margin-top:45px !important;">
      <h1 class="page-header" style="text-align: center;">Liste des lapins disponibles en ferme</h1>
    </div>
  </div>
  <div class="content" style="margin-top: 15px;">
    <ol class="breadcrumb d-flex">
      <li class="active ms-auto">
        <button class="btn btn-warning btn-sm m-r-5 btn-exporting">
          <i aria-hidden="true" class="fa fa-file"></i>
          Exporter en PDF
        </button>
      </li>
      <li class="active">
        <button  class="btn btn-white btn-sm m-r-5 btn-exporting" style="margin-left:
        5px; margin-right: 15px; border: 1px solid;">
          <i aria-hidden="true" class="fa fa-file"></i>
          Exporter en Excel
        </button>
      </li>
    </ol>
  </div>
  <div class="content" style="padding:10px 15px !important;">
    <div class="card">
      <div class="card-header table-heading" style="background: linear-gradient(to right, #eae4e4, #ffc80030);">
        <div class="panel-heading-btn row">
          <div class="col-md-8 col-xs-12">
            <button class="btn btn-add" (click)="openModal('save')" data-toggle="modal" data-whatever="@mdo" style="border: 1px solid green; background: green; color: white;">
              <i class="fa fa-plus-square"></i>
              Nouvel enregistrement
            </button>
          </div>
          <div class="col-md-4 ms-auto">
            <input  class="form-control input-sm" id="filtrer" name="filtrer" placeholder="Recherche..." type="text"/>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="data-table_wrapper">
         
          <table aria-describedby="data-table_info" class="table table-striped table-bordered dataTable no-footer dtr-inline" id="data-table" role="grid" style="position: relative;">
            <thead>
            <tr role="row">
              <th aria-controls="data-table" class="tabheadcells" tabindex="0">Libelle</th>
              <th aria-controls="data-table" class="tabheadcells" tabindex="0">Sexe</th>
              <th aria-controls="data-table" class="tabheadcells" tabindex="0">Date</th>
              <th class="tabheadcells" tabindex="0" aria-controls="data-table">Photo</th>
              <th style="width:160px !important;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  class="odd" role="row" *ngFor="let lapin of lapinList | paginate: { itemsPerPage: 5, currentPage: currentPage }">
              <td class="tabcells">{{lapin.nom}}</td>
              <td class="tabcells">{{lapin.sexe}}</td>
              <td class="tabcells">{{lapin.dateAjout | date: 'dd/MM/yyyy' }}</td>
              <td class="tabcells">
                <img src="{{lapinService.URL_FILE}}{{lapin.fileName}}" style="width: 100px; height: 50px;" alt="">
              </td>
              <td class="tabcells" style="width: 250px;">
                <button  class="btn btn-details btn-sm" (click)="findOne(lapin.id)">
                   Modifier &nbsp;<i class="fa-solid fa-pen-to-square"></i>
                </button> &nbsp;
                <button  class="btn btn-details btn-sm" (click)="confirmDelete(lapin.id)">
                  <i class="fa fa-times"></i> &nbsp;Retirer
                </button>
              </td>
            </tr>
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
  
  <!-- Modal Enregistrement -->
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <form #f="ngForm">
          <div class="modal-header" style="    background: linear-gradient(to right, #eae4e4, #ffc80030);">
            <div class="row" style="width:100% !important; margin:auto;">
              <div class="col-xs-12 col-md-10">
                <h3 class="modal-title">Formulaire d'enregistrement</h3>
              </div>
              <div class="col-xs-12 col-md-2 d-flex">
                <button aria-label="Close" class="close ms-auto" (click)="closeModal()" data-dismiss="modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row" style="width:100% !important; margin:auto !important;">
              <div [class.has-error]="nam.invalid && nam.touched" [class.has-success]="nam.valid" class="col-xs-12 col-md-12" style="margin-bottom: 15px !important;">
                <label class="label-test" for="txtMatricule">
                  Nom<span class="etoile text-danger">*</span> &nbsp;
                  <span *ngIf="nam.errors?.['required'] && nam.touched" class="text-danger">champ vide</span>
                </label>
                <input type="text"  [(ngModel)]="lapin.nom" class="form-control" id="txtName" name="txtName"  placeholder="Nom du lapin" #nam="ngModel" required />
              </div>

              <div [class.has-error]="sexe.invalid && sexe.touched" [class.has-success]="sexe.valid" class="col-xs-12 col-md-12" style="margin-bottom: 15px !important;">
                <label class="label-test" for="sltGenre">Genre<span class="etoile text-danger">*</span>
                  &nbsp;
                  <span *ngIf="sexe.errors?.['required'] && sexe.touched" class="text-danger">champ vide</span>
                </label>
                <select [(ngModel)]="lapin.sexe" class="form-control" id="sltGenre" name="sexeGenre"  #sexe="ngModel"  required>
                  <option value="">Sélectionner le genre</option>
                  <option value="male">Mâle</option>
                  <option value="femelle">Femelle</option>
                </select>
              </div>

              <div [class.has-error]="fileUpload.invalid && fileUpload.touched" [class.has-success]="fileUpload.valid" class="col-xs-12 col-md-12" style="margin-bottom: 15px !important;">
                <label class="label-test" for="sltfileUpload">Image<span class="etoile text-danger">*</span>
                  &nbsp;
                  <span *ngIf="fileUpload.errors?.['required'] && fileUpload.touched" class="text-danger">champ vide</span>
                </label>
                <input type="file"  [(ngModel)]="lapin.fileName" class="form-control" id="fileInput" name="fileInput" (change)="onFileSelected($event)"  #fileUpload="ngModel" required />
             
                <div class="form-group mt-2" *ngIf="imageUrl">
                  <img [src]="imageUrl" alt="Selected Image" style="height: 50px; width: 100px;">
                </div>
              </div>
              
            </div>
          </div>
          <div class="modal-footer" style="background: linear-gradient(to right, #eae4e4, #ffc80030);">
            <button class="modal-close-btn btn btn-secondary" data-dismiss="modal" type="button" (click)="closeModal()">Fermer</button>
            <button (click)="confirmSave()"  [disabled]="!f.valid" class="modal-save-btn btn btn-outline-success" id="btn-save-typeordonnateur" type="button">
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <!-- update Modal -->
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModalUpdate" role="dialog" tabindex="-1">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <form #fupdate="ngForm">
          <div class="modal-header" style="    background: linear-gradient(to right, #eae4e4, #ffc80030);">
            <div class="row" style="width:100% !important; margin:auto;">
              <div class="col-xs-12 col-md-10">
                <h3 class="modal-title">Formulaire de modification</h3>
              </div>
              <div class="col-xs-12 col-md-2 d-flex">
                <button aria-label="Close" class="close ms-auto" (click)="closeModal()" data-dismiss="modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row" style="width:100% !important; margin:auto !important;">
              <div [class.has-error]="namUpdate.invalid && namUpdate.touched" [class.has-success]="namUpdate.valid" class="col-xs-12 col-md-12" style="margin-bottom: 15px !important;">
                <label class="label-test" for="txtMatricule">
                  Nom<span class="etoile text-danger">*</span> &nbsp;
                  <span *ngIf="namUpdate.errors?.['required'] && namUpdate.touched" class="text-danger">champ vide</span>
                </label>
                <input type="text"  [(ngModel)]="lapin.nom" class="form-control" id="txtName" name="txtName"  placeholder="Nom du lapin" #namUpdate="ngModel" required />
              </div>

              <div [class.has-error]="sexeUpdate.invalid && sexeUpdate.touched" [class.has-success]="sexeUpdate.valid" class="col-xs-12 col-md-12" style="margin-bottom: 15px !important;">
                <label class="label-test" for="sltGenre">Genre<span class="etoile text-danger">*</span>
                  &nbsp;
                  <span *ngIf="sexeUpdate.errors?.['required'] && sexeUpdate.touched" class="text-danger">champ vide</span>
                </label>
                <select [(ngModel)]="lapin.sexe" class="form-control" id="sltGenre" name="sexeGenre"  #sexeUpdate="ngModel"  required>
                  <option value="">Sélectionner le genre</option>
                  <option value="male">Mâle</option>
                  <option value="femelle">Femelle</option>
                </select>
              </div>

              <div [class.has-error]="fileUploadUpdate.invalid && fileUploadUpdate.touched" [class.has-success]="fileUploadUpdate.valid" class="col-xs-12 col-md-12" style="margin-bottom: 15px !important;">
                <label class="label-test" for="sltfileUpload">Image<span class="etoile text-danger">*</span>
                  &nbsp;
                  <span *ngIf="fileUploadUpdate.errors?.['required'] && fileUploadUpdate.touched" class="text-danger">champ vide</span>
                </label>
                <input type="file"  [(ngModel)]="lapin.fileName" class="form-control" id="fileInput" name="fileInput" (change)="onFileSelected($event)"  #fileUploadUpdate="ngModel" required />
             
                <div class="form-group mt-2" *ngIf="imageUrl">
                  <img [src]="imageUrl" alt="Selected Image" style="height: 50px; width: 100px;">
                </div>
              </div>
              
            </div>
          </div>
          <div class="modal-footer" style="background: linear-gradient(to right, #eae4e4, #ffc80030);">
            <button class="modal-close-btn btn btn-secondary" data-dismiss="modal" type="button" (click)="closeModal()">Fermer</button>
            <button (click)="confirmUpdate(lapin.id,lapin)"  [disabled]="!fupdate.valid" class="modal-save-btn btn btn-outline-success" id="btn-save-typeordonnateur" type="button">
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  



<!--<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">

    <div class="text-center">
      <h1 class="h6 mb-0 text-black lh-1 display-6">Liste des lapins disponibles dans la ferme</h1>
    </div>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Some more representative placeholder content, related to this other user. Another status update, perhaps.
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
      </p>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small>
  </div>
</div>-->
   
  